#mainpage {
    display: grid;
    grid-template-areas: "generator motivation"
                         "schedulecontainer schedulecontainer";

    text-align: center;
    gap: 5px;
    width:calc(100vw - (100vw - 100%));
}

#generator {
    grid-area: generator; 
    padding: 10px; 
    color: rgb(228, 137, 53);
    background-color: rgb(41, 20, 2);    
    border-radius: 5px;
}

h1 {
    font-size: medium;
    color:rgb(41, 20, 2);
    background-color: rgb(228, 137, 53);
    border-radius: 5px 5px 0px 0px;
}

button {
    color: rgb(41, 20, 2);
    background-color: rgb(228, 137, 53); 
    border-radius: 5px;  
    font-weight: bold;  
}

#motivation {
    grid-area: motivation;
    color: rgb(41, 20, 2);
    padding: 10px;
    background-color: rgb(228, 137, 53);
    border-radius: 5px;
    font-size: 4.9em;
}

#message {
    vertical-align: middle;
}

#schedulecontainer {
    grid-area: schedulecontainer;
    display: grid;
    grid-template-areas: 
"monslot1 tueslot1 wedslot1 thuslot1 frislot1 satslot1 sunslot1"							
"monslot2 tueslot2 wedslot2 thuslot2 frislot2 satslot2 sunslot2"							
"monslot2repscheme tueslot2repscheme wedslot2repscheme thuslot2repscheme frislot2repscheme satslot2repscheme sunslot2repscheme"
"monslot3 tueslot3 wedslot3 thuslot3 frislot3 satslot3 sunslot3"							
"monslot3repscheme tueslot3repscheme wedslot3repscheme thuslot3repscheme frislot3repscheme satslot3repscheme sunslot3repscheme"
"monslot4 tueslot4 wedslot4 thuslot4 frislot4 satslot4 sunslot4"							
"monslot4repscheme tueslot4repscheme wedslot4repscheme thuslot4repscheme frislot4repscheme satslot4repscheme sunslot4repscheme"
"monslot5 tueslot5 wedslot5 thuslot5 frislot5 satslot5 sunslot5"							
"monslot5repscheme tueslot5repscheme wedslot5repscheme thuslot5repscheme frislot5repscheme satslot5repscheme sunslot5repscheme"
"monslot6 tueslot6 wedslot6 thuslot6 frislot6 satslot6 sunslot6"							
"monslot6repscheme tueslot6repscheme wedslot6repscheme thuslot6repscheme frislot6repscheme satslot6repscheme sunslot6repscheme"
    ;
    text-align: center;
    border-radius: 5px;
}

    #monslot1 {
    grid-area: monslot1;
    color: rgb(228, 137, 53);
    background-color: rgb(41, 20, 2);
    padding: 2px;
    width: 1fr;
    border-radius: 10px 0px 0px 0px;
    }
    #monslot2 {
    grid-area: monslot2;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
    }
    #monslot3 {
    grid-area: monslot3;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
    }
    #monslot4 {
    grid-area: monslot4;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
    }
    #monslot5 {
    grid-area: monslot5;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
    }
    #monslot6 {
    grid-area: monslot6;   
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
}
    #monslot2repscheme {
    grid-area: monslot2repscheme ;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
    }
    #monslot3repscheme  {
    grid-area: monslot3repscheme ;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
    }
    #monslot4repscheme  {
    grid-area: monslot4repscheme ;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
    }
    #monslot5repscheme  {
    grid-area: monslot5repscheme ;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
    }
    #monslot6repscheme  {
    grid-area: monslot6repscheme ;   
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
}
    #tueslot1 {
    grid-area: tueslot1;
    color: rgb(228, 137, 53);    
    background-color: rgb(41, 20, 2);
    width: 1fr;
    padding: 2px;
    }
    #tueslot2 {
    grid-area: tueslot2;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
}
    #tueslot3 {
    grid-area: tueslot3;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
}
    #tueslot4 {
    grid-area: tueslot4;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
    }
    #tueslot5 {
    grid-area: tueslot5;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
    }
    #tueslot6 {
    grid-area: tueslot6;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
}
    #tueslot2repscheme {
    grid-area: tueslot2repscheme;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
}
    #tueslot3repscheme {
    grid-area: tueslot3repscheme;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
}
    #tueslot4repscheme {
    grid-area: tueslot4repscheme;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
    }
    #tueslot5repscheme {
    grid-area: tueslot5repscheme;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
    }
    #tueslot6repscheme {
    grid-area: tueslot6repscheme;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
}
    #wedslot1 {
    grid-area: wedslot1;
    color: rgb(228, 137, 53);    
    background-color: rgb(41, 20, 2);
    width: 1fr;
    padding: 2px;
    }
    #wedslot2 {
    grid-area: wedslot2;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
    }
    #wedslot3 {
    grid-area: wedslot3;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
    }
    #wedslot4 {
    grid-area: wedslot4;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
    }
    #wedslot5 {
    grid-area: wedslot5;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
    }
    #wedslot6 {
    grid-area: wedslot6;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
}
    #wedslot2repscheme {
    grid-area: wedslot2repscheme;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
    }
    #wedslot3repscheme {
    grid-area: wedslot3repscheme;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
    }
    #wedslot4repscheme {
    grid-area: wedslot4repscheme;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
    }
    #wedslot5repscheme {
    grid-area: wedslot5repscheme;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
    }
    #wedslot6repscheme {
    grid-area: wedslot6repscheme;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
}
    #thuslot1 {
    grid-area: thuslot1;
    color: rgb(228, 137, 53);    
    background-color: rgb(41, 20, 2);
    width: 1fr;
    padding: 2px;
    }
    #thuslot2 {
    grid-area: thuslot2;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
    }
    #thuslot3 {
    grid-area: thuslot3;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
    }
    #thuslot4 {
    grid-area: thuslot4;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
    }
    #thuslot5 {
    grid-area: thuslot5;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
    }
    #thuslot6 {
    grid-area: thuslot6;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
}
    #thuslot2repscheme {
    grid-area: thuslot2repscheme;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
    }
    #thuslot3repscheme {
    grid-area: thuslot3repscheme;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
    }
    #thuslot4repscheme {
    grid-area: thuslot4repscheme;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
    }
    #thuslot5repscheme {
    grid-area: thuslot5repscheme;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
    }
    #thuslot6repscheme {
    grid-area: thuslot6repscheme;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
}
    #frislot1 {
    grid-area: frislot1;
    color: rgb(228, 137, 53);    
    background-color: rgb(41, 20, 2);
    width: 1fr;
    padding: 2px;
    }
    #frislot2 {
    grid-area: frislot2;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
}
    #frislot3 {
    grid-area: frislot3;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
}
    #frislot4 {
    grid-area: frislot4;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
}
    #frislot5 {
    grid-area: frislot5;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
}
    #frislot6 {
    grid-area: frislot6;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
}
    #frislot2repscheme {
    grid-area: frislot2repscheme;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
}
    #frislot3repscheme {
    grid-area: frislot3repscheme;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
}
    #frislot4repscheme {
    grid-area: frislot4repscheme;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
}
    #frislot5repscheme {
    grid-area: frislot5repscheme;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
}
    #frislot6repscheme {
    grid-area: frislot6repscheme;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
}
    #satslot1 {
    grid-area: satslot1;
    color: rgb(228, 137, 53);    
    background-color: rgb(41, 20, 2);
    width: 1fr;
    padding: 2px;
    }
    #satslot2 {
    grid-area: satslot2;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
}
    #satslot3 {
    grid-area: satslot3;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
}
    #satslot4 {
    grid-area: satslot4;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
}
    #satslot5 {
    grid-area: satslot5;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
}
    #satslot6 {
    grid-area: satslot6;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
}
    #satslot2repscheme {
    grid-area: satslot2repscheme;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
}
    #satslot3repscheme {
    grid-area: satslot3repscheme;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
}
    #satslot4repscheme {
    grid-area: satslot4repscheme;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
}
    #satslot5repscheme {
    grid-area: satslot5repscheme;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
}
    #satslot6repscheme {
    grid-area: satslot6repscheme;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
}
    #sunslot1 {
    grid-area: sunslot1;
    color: rgb(228, 137, 53);    
    background-color: rgb(41, 20, 2);
    width: 1fr;
    padding: 2px;
    border-radius: 0px 10px 0px 0px;
    }
    #sunslot2 {
     grid-area: sunslot2;
     color:rgb(41, 20, 2);
     background-color:rgb(228, 137, 53)
     }
    #sunslot3 {
     grid-area: sunslot3;
     color:rgb(41, 20, 2);
     background-color:rgb(228, 137, 53)
     }
    #sunslot4 {
     grid-area: sunslot4;
     color:rgb(41, 20, 2);
     background-color:rgb(228, 137, 53)
     }
    #sunslot5 {
     grid-area: sunslot5;
     color:rgb(41, 20, 2);
     background-color:rgb(228, 137, 53)
     }
    #sunslot6 {
     grid-area: sunslot6;
     color:rgb(41, 20, 2);
     background-color:rgb(228, 137, 53)
}
    #sunslot2repscheme {
    grid-area: sunslot2repscheme;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
    }
   #sunslot3repscheme {
    grid-area: sunslot3repscheme;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
    }
   #sunslot4repscheme {
    grid-area: sunslot4repscheme;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
    }
   #sunslot5repscheme {
    grid-area: sunslot5repscheme;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
    }
   #sunslot6repscheme {
    grid-area: sunslot6repscheme;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
}
     
    p {
     font-weight: bold;
     ;
    }

@media screen and (max-width: 414px){
    
    #mainpage {
    grid-template-areas: 
                         "motivation"
                         "generator"
                         "schedulecontainer";
}
    
    #motivation {
    font-size: 1.4em;
}

    #schedulecontainer {
    grid-template-areas: 
"monslot1 monslot1"
"monslot2 monslot2repscheme"
"monslot3 monslot3repscheme"
"monslot4 monslot4repscheme"
"monslot5 monslot5repscheme"
"monslot6 monslot6repscheme"
"tueslot1 tueslot1"
"tueslot2 tueslot2repscheme"
"tueslot3 tueslot3repscheme"
"tueslot4 tueslot4repscheme"
"tueslot5 tueslot5repscheme"
"tueslot6 tueslot6repscheme"
"wedslot1 wedslot1"
"wedslot2 wedslot2repscheme"
"wedslot3 wedslot3repscheme"
"wedslot4 wedslot4repscheme"
"wedslot5 wedslot5repscheme"
"wedslot6 wedslot6repscheme"
"thuslot1 thuslot1"
"thuslot2 thuslot2repscheme"
"thuslot3 thuslot3repscheme"
"thuslot4 thuslot4repscheme"
"thuslot5 thuslot5repscheme"
"thuslot6 thuslot6repscheme"
"frislot1 frislot1"
"frislot2 frislot2repscheme"
"frislot3 frislot3repscheme"
"frislot4 frislot4repscheme"
"frislot5 frislot5repscheme"
"frislot6 frislot6repscheme"
"satslot1 satslot1"
"satslot2 satslot2repscheme"
"satslot3 satslot3repscheme"
"satslot4 satslot4repscheme"
"satslot5 satslot5repscheme"
"satslot6 satslot6repscheme"
"sunslot1 sunslot1"
"sunslot2 sunslot2repscheme"
"sunslot3 sunslot3repscheme"
"sunslot4 sunslot4repscheme"
"sunslot5 sunslot5repscheme"
"sunslot6 sunslot6repscheme"
    ;
}
    #monslot1 {
    border-radius: 10px 10px 0px 0px;
    }
    #sunslot1 {
    border-radius: 0px 0px 0px 0px;
    }
    #sunslot6 {
    border-radius: 0px 0px 0px 10px;
    }
    #sunslot6repscheme {
    border-radius: 0px 0px 10px 0px;
    }

}
