#mainpage {
    display: grid;
    grid-template-areas: "generator motivation"
                         "schedulecontainer schedulecontainer";

    text-align: center;
    gap: 5px;
    width:calc(100vw - (100vw - 100%));
}

#generator {
    grid-area: generator; 
    padding: 10px; 
    color: rgb(228, 137, 53);
    background-color: rgb(41, 20, 2);    
    border-radius: 5px;
}

h1 {
    font-size: medium;
    color:rgb(41, 20, 2);
    background-color: rgb(228, 137, 53);
    border-radius: 5px 5px 0px 0px;
}

button {
    color: rgb(41, 20, 2);
    background-color: rgb(228, 137, 53); 
    border-radius: 5px;  
    font-weight: bold;  
}

#motivation {
    grid-area: motivation;
    color: rgb(41, 20, 2);
    padding: 10px;
    background-color: rgb(228, 137, 53);
    border-radius: 5px;
    font-size: 4.9em;
}

#message {
    vertical-align: middle;
}

#schedulecontainer {
    grid-area: schedulecontainer;
    display: grid;
    grid-template-areas: 
    "monslot1 monslot1 tueslot1 tueslot1 wedslot1 wedslot1 thuslot1 thuslot1 frislot1 frislot1 satslot1 satslot1 sunslot1 sunslot1"							
    "monslot2 monslot2 tueslot2 tueslot2 wedslot2 wedslot2 thuslot2 thuslot2 frislot2 frislot2 satslot2 satslot2 sunslot2 sunslot2"							
    "monslot2repscheme monslot2stickman tueslot2repscheme tueslot2stickman wedslot2repscheme wedslot2stickman thuslot2repscheme thuslot2stickman frislot2repscheme frislot2stickman satslot2repscheme satslot2stickman sunslot2repscheme sunslot2stickman"
    "monslot3 monslot3 tueslot3 tueslot3 wedslot3 wedslot3 thuslot3 thuslot3 frislot3 frislot3 satslot3 satslot3 sunslot3 sunslot3"
    "monslot3repscheme monslot3stickman tueslot3repscheme tueslot3stickman wedslot3repscheme wedslot3stickman thuslot3repscheme thuslot3stickman frislot3repscheme frislot3stickman satslot3repscheme satslot3stickman sunslot3repscheme sunslot3stickman"
    "monslot4 monslot4 tueslot4 tueslot4 wedslot4 wedslot4 thuslot4 thuslot4 frislot4 frislot4 satslot4 satslot4 sunslot4 sunslot4"
    "monslot4repscheme monslot4stickman tueslot4repscheme tueslot4stickman wedslot4repscheme wedslot4stickman thuslot4repscheme thuslot4stickman frislot4repscheme frislot4stickman satslot4repscheme satslot4stickman sunslot4repscheme sunslot4stickman"
    "monslot5 monslot5 tueslot5 tueslot5 wedslot5 wedslot5 thuslot5 thuslot5 frislot5 frislot5 satslot5 satslot5 sunslot5 sunslot5"
    "monslot5repscheme monslot5stickman tueslot5repscheme tueslot5stickman wedslot5repscheme wedslot5stickman thuslot5repscheme thuslot5stickman frislot5repscheme frislot5stickman satslot5repscheme satslot5stickman sunslot5repscheme sunslot5stickman"
    "monslot6 monslot6 tueslot6 tueslot6 wedslot6 wedslot6 thuslot6 thuslot6 frislot6 frislot6 satslot6 satslot6 sunslot6 sunslot6"
    "monslot6repscheme monslot6stickman tueslot6repscheme tueslot6stickman wedslot6repscheme wedslot6stickman thuslot6repscheme thuslot6stickman frislot6repscheme frislot6stickman satslot6repscheme satslot6stickman sunslot6repscheme sunslot6stickman"

    ;
    background-color: rgb(228, 137, 53);
    border-radius: 10px;
}

    #monslot1 {
    grid-area: monslot1;
    color: rgb(228, 137, 53);
    background-color: rgb(41, 20, 2);
    padding: 2px;
    width: 1fr;
    border-radius: 10px 0px 0px 0px;
    }
    #monslot2 {
    grid-area: monslot2;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
    }
    #monslot3 {
    grid-area: monslot3;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
    }
    #monslot4 {
    grid-area: monslot4;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
    }
    #monslot5 {
    grid-area: monslot5;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
    }
    #monslot6 {
    grid-area: monslot6;   
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
}
    #monslot2repscheme {
    grid-area: monslot2repscheme ;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
    }
    #monslot3repscheme  {
    grid-area: monslot3repscheme ;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
    }
    #monslot4repscheme  {
    grid-area: monslot4repscheme ;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
    }
    #monslot5repscheme  {
    grid-area: monslot5repscheme ;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
    }
    #monslot6repscheme  {
    grid-area: monslot6repscheme ;   
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
}

    #monslot2stickman {
    grid-area: monslot2stickman ;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
    }
    #monslot3stickman  {
    grid-area: monslot3stickman ;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
    }
    #monslot4stickman  {
    grid-area: monslot4stickman ;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
    }
    #monslot5stickman  {
    grid-area: monslot5stickman ;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
    }
    #monslot6stickman  {
    grid-area: monslot6stickman ;   
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
}
    #tueslot1 {
    grid-area: tueslot1;
    color: rgb(228, 137, 53);    
    background-color: rgb(41, 20, 2);
    width: 1fr;
    padding: 2px;
    }
    #tueslot2 {
    grid-area: tueslot2;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
}
    #tueslot3 {
    grid-area: tueslot3;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
}
    #tueslot4 {
    grid-area: tueslot4;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
    }
    #tueslot5 {
    grid-area: tueslot5;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
    }
    #tueslot6 {
    grid-area: tueslot6;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
}
    #tueslot2repscheme {
    grid-area: tueslot2repscheme;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
}
    #tueslot3repscheme {
    grid-area: tueslot3repscheme;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
}
    #tueslot4repscheme {
    grid-area: tueslot4repscheme;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
    }
    #tueslot5repscheme {
    grid-area: tueslot5repscheme;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
    }
    #tueslot6repscheme {
    grid-area: tueslot6repscheme;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
}
    #tueslot2stickman {
    grid-area: tueslot2stickman;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
}
    #tueslot3stickman {
    grid-area: tueslot3stickman;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
}
    #tueslot4stickman {
    grid-area: tueslot4stickman;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
    }
    #tueslot5stickman {
    grid-area: tueslot5stickman;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
    }
    #tueslot6stickman {
    grid-area: tueslot6stickman;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
}
    #wedslot1 {
    grid-area: wedslot1;
    color: rgb(228, 137, 53);    
    background-color: rgb(41, 20, 2);
    width: 1fr;
    padding: 2px;
    }
    #wedslot2 {
    grid-area: wedslot2;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
    }
    #wedslot3 {
    grid-area: wedslot3;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
    }
    #wedslot4 {
    grid-area: wedslot4;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
    }
    #wedslot5 {
    grid-area: wedslot5;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
    }
    #wedslot6 {
    grid-area: wedslot6;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
}
    #wedslot2repscheme {
    grid-area: wedslot2repscheme;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
    }
    #wedslot3repscheme {
    grid-area: wedslot3repscheme;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
    }
    #wedslot4repscheme {
    grid-area: wedslot4repscheme;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
    }
    #wedslot5repscheme {
    grid-area: wedslot5repscheme;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
    }
    #wedslot6repscheme {
    grid-area: wedslot6repscheme;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
}
    #wedslot2stickman {
    grid-area: wedslot2stickman;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
    }
    #wedslot3stickman {
    grid-area: wedslot3stickman;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
    }
    #wedslot4stickman {
    grid-area: wedslot4stickman;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
    }
    #wedslot5stickman {
    grid-area: wedslot5stickman;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
    }
    #wedslot6stickman {
    grid-area: wedslot6stickman;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
}
    #thuslot1 {
    grid-area: thuslot1;
    color: rgb(228, 137, 53);    
    background-color: rgb(41, 20, 2);
    width: 1fr;
    padding: 2px;
    }
    #thuslot2 {
    grid-area: thuslot2;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
    }
    #thuslot3 {
    grid-area: thuslot3;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
    }
    #thuslot4 {
    grid-area: thuslot4;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
    }
    #thuslot5 {
    grid-area: thuslot5;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
    }
    #thuslot6 {
    grid-area: thuslot6;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
}
    #thuslot2repscheme {
    grid-area: thuslot2repscheme;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
    }
    #thuslot3repscheme {
    grid-area: thuslot3repscheme;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
    }
    #thuslot4repscheme {
    grid-area: thuslot4repscheme;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
    }
    #thuslot5repscheme {
    grid-area: thuslot5repscheme;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
    }
    #thuslot6repscheme {
    grid-area: thuslot6repscheme;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
}
    #thuslot2stickman {
    grid-area: thuslot2stickman;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
    }
    #thuslot3stickman {
    grid-area: thuslot3stickman;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
    }
    #thuslot4stickman {
    grid-area: thuslot4stickman;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
    }
    #thuslot5stickman {
    grid-area: thuslot5stickman;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
    }
    #thuslot6stickman {
    grid-area: thuslot6stickman;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
}
    #frislot1 {
    grid-area: frislot1;
    color: rgb(228, 137, 53);    
    background-color: rgb(41, 20, 2);
    width: 1fr;
    padding: 2px;
    }
    #frislot2 {
    grid-area: frislot2;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
}
    #frislot3 {
    grid-area: frislot3;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
}
    #frislot4 {
    grid-area: frislot4;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
}
    #frislot5 {
    grid-area: frislot5;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
}
    #frislot6 {
    grid-area: frislot6;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
}
    #frislot2repscheme {
    grid-area: frislot2repscheme;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
}
    #frislot3repscheme {
    grid-area: frislot3repscheme;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
}
    #frislot4repscheme {
    grid-area: frislot4repscheme;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
}
    #frislot5repscheme {
    grid-area: frislot5repscheme;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
}
    #frislot6repscheme {
    grid-area: frislot6repscheme;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
}
    #frislot2stickman {
    grid-area: frislot2stickman;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
    }
    #frislot3stickman {
    grid-area: frislot3stickman;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
    }
    #frislot4stickman {
    grid-area: frislot4stickman;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
    }
    #frislot5stickman {
    grid-area: frislot5stickman;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
    }
    #frislot6stickman {
    grid-area: frislot6stickman;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
}
    #satslot1 {
    grid-area: satslot1;
    color: rgb(228, 137, 53);    
    background-color: rgb(41, 20, 2);
    width: 1fr;
    padding: 2px;
    }
    #satslot2 {
    grid-area: satslot2;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
}
    #satslot3 {
    grid-area: satslot3;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
}
    #satslot4 {
    grid-area: satslot4;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
}
    #satslot5 {
    grid-area: satslot5;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
}
    #satslot6 {
    grid-area: satslot6;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
}
    #satslot2repscheme {
    grid-area: satslot2repscheme;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
}
    #satslot3repscheme {
    grid-area: satslot3repscheme;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
}
    #satslot4repscheme {
    grid-area: satslot4repscheme;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
}
    #satslot5repscheme {
    grid-area: satslot5repscheme;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
}
    #satslot6repscheme {
    grid-area: satslot6repscheme;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
}
    #satslot2stickman {
    grid-area: satslot2stickman;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
    }
    #satslot3stickman {
    grid-area: satslot3stickman;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
    }
    #satslot4stickman {
    grid-area: satslot4stickman;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
    }
    #satslot5stickman {
    grid-area: satslot5stickman;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
    }
    #satslot6stickman {
    grid-area: satslot6stickman;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
}
    #sunslot1 {
    grid-area: sunslot1;
    color: rgb(228, 137, 53);    
    background-color: rgb(41, 20, 2);
    width: 1fr;
    padding: 2px;
    border-radius: 0px 10px 0px 0px;
    }
    #sunslot2 {
     grid-area: sunslot2;
     color:rgb(41, 20, 2);
     background-color:rgb(228, 137, 53)
     }
    #sunslot3 {
     grid-area: sunslot3;
     color:rgb(41, 20, 2);
     background-color:rgb(228, 137, 53)
     }
    #sunslot4 {
     grid-area: sunslot4;
     color:rgb(41, 20, 2);
     background-color:rgb(228, 137, 53)
     }
    #sunslot5 {
     grid-area: sunslot5;
     color:rgb(41, 20, 2);
     background-color:rgb(228, 137, 53)
     }
    #sunslot6 {
     grid-area: sunslot6;
     color:rgb(41, 20, 2);
     background-color:rgb(228, 137, 53)
}
    #sunslot2repscheme {
    grid-area: sunslot2repscheme;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
    }
   #sunslot3repscheme {
    grid-area: sunslot3repscheme;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53);
    }
   #sunslot4repscheme {
    grid-area: sunslot4repscheme;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
    }
   #sunslot5repscheme {
    grid-area: sunslot5repscheme;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
    }
   #sunslot6repscheme {
    grid-area: sunslot6repscheme;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53);
} 
    #sunslot2stickman {
    grid-area: sunslot2stickman;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
    }









    #sunslot3stickman {
    grid-area: sunslot3stickman;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53);
    width: 7vw;
    height: 9vh;
    }











    #sunslot4stickman {
    grid-area: sunslot4stickman;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
    }
    #sunslot5stickman {
    grid-area: sunslot5stickman;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
    }
    #sunslot6stickman {
    grid-area: sunslot6stickman;
    color:rgb(41, 20, 2);
    background-color:rgb(228, 137, 53)
}







    #sunslot3stickman:hover {
    grid-area: sunslot3stickman;
    grid-area: sunslot3repscheme;
    grid-area: sunslot3;
    width:14vw;
    height: 18vh;
    }
    p {
     font-weight: bold;
     ;
    }













@media screen and (max-width: 414px){
    
    #mainpage {
    grid-template-areas: 
                         "motivation"
                         "generator"
                         "schedulecontainer";
}
    
    #motivation {
    font-size: 1.4em;
}

    #schedulecontainer {
    grid-template-areas: 
    "monslot1 monslot1"
    "monslot2 monslot2repscheme"
    "monslot2stickman monslot2stickman"
    "monslot3 monslot3repscheme"
    "monslot3stickman monslot3stickman"
    "monslot4 monslot4repscheme"
    "monslot4stickman monslot4stickman"
    "monslot5 monslot5repscheme"
    "monslot5stickman monslot5stickman"
    "monslot6 monslot6repscheme"
    "monslot6stickman monslot6stickman"
    "tueslot1 tueslot1"
    "tueslot2 tueslot2repscheme"
    "tueslot2stickman tueslot2stickman"
    "tueslot3 tueslot3repscheme"
    "tueslot3stickman tueslot3stickman"
    "tueslot4 tueslot4repscheme"
    "tueslot4stickman tueslot4stickman"
    "tueslot5 tueslot5repscheme"
    "tueslot5stickman tueslot5stickman"
    "tueslot6 tueslot6repscheme"
    "tueslot6stickman tueslot6stickman"
    "wedslot1 wedslot1"
    "wedslot2 wedslot2repscheme"
    "wedslot2stickman wedslot2stickman"
    "wedslot3 wedslot3repscheme"
    "wedslot3stickman wedslot3stickman"
    "wedslot4 wedslot4repscheme"
    "wedslot4stickman wedslot4stickman"
    "wedslot5 wedslot5repscheme"
    "wedslot5stickman wedslot5stickman"
    "wedslot6 wedslot6repscheme"
    "wedslot6stickman wedslot6stickman"
    "thuslot1 thuslot1"
    "thuslot2 thuslot2repscheme" 
    "thuslot2stickman thuslot2stickman"
    "thuslot3 thuslot3repscheme"
    "thuslot3stickman thuslot3stickman"
    "thuslot4 thuslot4repscheme"
    "thuslot4stickman thuslot4stickman"
    "thuslot5 thuslot5repscheme"
    "thuslot5stickman thuslot5stickman"
    "thuslot6 thuslot6repscheme"
    "thuslot6stickman thuslot6stickman"
    "frislot1 frislot1"
    "frislot2 frislot2repscheme"
    "frislot2stickman frislot2stickman"
    "frislot3 frislot3repscheme"
    "frislot3stickman frislot3stickman"
    "frislot4 frislot4repscheme"
    "frislot4stickman frislot4stickman"
    "frislot5 frislot5repscheme"
    "frislot5stickman frislot5stickman"
    "frislot6 frislot6repscheme"
    "frislot6stickman frislot6stickman"
    "satslot1 satslot1"
    "satslot2 satslot2repscheme"
    "satslot2stickman satslot2stickman"
    "satslot3 satslot3repscheme"
    "satslot3stickman satslot3stickman"
    "satslot4 satslot4repscheme"
    "satslot4stickman satslot4stickman"
    "satslot5 satslot5repscheme"
    "satslot5stickman satslot5stickman"
    "satslot6 satslot6repscheme"
    "satslot6stickman satslot6stickman"
    "sunslot1 sunslot1"
    "sunslot2 sunslot2repscheme"
    "sunslot2stickman sunslot2stickman"
    "sunslot3 sunslot3repscheme"
    "sunslot3stickman sunslot3stickman"
    "sunslot4 sunslot4repscheme"
    "sunslot4stickman sunslot4stickman"
    "sunslot5 sunslot5repscheme"
    "sunslot5stickman sunslot5stickman"
    "sunslot6 sunslot6repscheme"
    "sunslot6stickman sunslot6stickman"
    
    ;
}
    #monslot1 {
    border-radius: 10px 10px 0px 0px;
    }
    #sunslot1 {
    border-radius: 0px 0px 0px 0px;
    }
    #sunslot6 {
    border-radius: 0px 0px 0px 10px;
    }
    #sunslot6repscheme {
    border-radius: 0px 0px 10px 0px;
    }





    #sunslot3stickman {
    width: 100vw;
    height: 10vh;
    }

}
