body {
    background-color: rgb(20, 22, 139); 
    height: 97.5%;
    width: 97.5%;
    color: white;
}
input {
    border-radius: 5px;
}
#level1definer > input {
    width: 60%;
    height: 30px;
}

#levels {
    grid-area: levels;
    grid-template-areas: 
    "level1definer"
    "level1andlevel2andlevel3";
    grid-template-rows: 20% 80%;
    gap: 5px;
}

#level1definer {
    grid-area: level1definer;
    text-align: center;
}

button {
    color: white;
    font-weight: bolder;
    background-color: rgb(20, 22, 139);
    border-radius: 5px;
    width: 20%;
    text-align: center;
}

#parameters-header {
    text-align: center;
}

#level1andlevel2andlevel3 {
    grid-area: level1andlevel2andlevel3;
    display: grid;
    grid-template-areas: "level1paras level2andlevel3";
    grid-template-columns: 33% 67%;
}
#level1paras {
    grid-area: level1paras;
}

#level2andlevel3 {
    grid-area: level2andlevel3;
    display: grid;
    grid-template-areas: "level2paras level3paras";
    grid-template-columns: 50% 50%;
}
#level2paras {
    grid-area: level2paras;
}
#level3paras {
    grid-area: level3paras;
}

hr {
    display: none;
    width: 50%;
    border-color: white;
}

img {
    width: 15px;
}

.inline-children {
    display: inline-block;
}

@media screen and (max-width: 414px) {
    body {
        height: auto
    }
    #levels {
        grid-template-areas: 
        "level1definer"
        "level1andlevel2andlevel3";
        grid-template-rows: 20% auto;
    }
    #level1andlevel2andlevel3 {
        grid-template-areas: 
        "level1paras"
        "level2andlevel3";
        grid-template-columns: 100%;
    }
    #level2andlevel3 {
        grid-area: level2andlevel3;
        display: grid;
        grid-template-areas: 
        "level2paras"
        "level3paras";
        grid-template-columns: 100%;
    }
    hr {
        display: block;
    }
}