body {
  background-color: black;
}

#game {
  display:grid;
  grid-template-areas: 
  "status"
  "grid"
  "reset";
  width: 100%;
  height: 100%;
  grid-template-rows: 10vh 75vh 10vh;
  gap: 5px;
}

.status {
  grid-area: status;
  text-align: center;
  font-size: x-large;
  font-weight: bolder;
  background-color: rgb(228, 137, 53);
  border-radius: 5px;
  color: black;
  padding: 3vh;
  }
  
  .reset {
    grid-area: reset;
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
    background-color: rgb(228, 137, 53);
    border-radius: 5px;
    color: black;
    padding: 3vh;
  }
  
  #grid {
    grid-area: grid;
    display: grid;
    grid-template-areas:
    "top-left-square top-mid-square top-right-square"
    "mid-left-square mid-mid-square mid-right-square"
    "bottom-left-square bottom-mid-square bottom-right-square";
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 5px;
    text-align: center;
    color: black;
    font-weight: bolder;
  }
  
  .square {
    background-color: rgb(228, 137, 53);
    padding: 9vh;
  }
  
  #top-left-square {
    grid-area: top-left-square;
  }
  
  #top-mid-square {
    grid-area: top-mid-square;
  }
  
  #top-right-square {
    grid-area: top-right-square;
  }
  
  #mid-left-square {
    grid-area: mid-left-square;
  }
  
  #mid-mid-square {
    grid-area: mid-mid-square;
  }
  
  #mid-right-square {
    grid-area: mid-right-square;
  }
  
  #bottom-left-square {
    grid-area: bottom-left-square;
  }
  
  #bottom-mid-square {
    grid-area: bottom-mid-square;
  }
  
  #bottom-right-square {
    grid-area: bottom-right-square;
  }