* {
    background-color: rgb(253, 211, 74);
}

input {
    background-color: rgb(241, 212, 116);
}

.todos {
    display: inline-block;
}
.deletes {
    color: rgb(190, 148, 8);
    display: inline-block;
    text-align: right;
    border: rgb(190, 148, 8) solid 2px;
    border-radius: 5px;
}