* {
    background-color: rgb(253, 211, 74);
}

input {
    background-color: rgb(241, 212, 116);
}

.todos {
    display: inline-block;
}
.deletes {
    display: inline-block;
    text-align: right;
}