body {
  text-align: center;
  background-color:#d5bb9e;
}

#quote {
  height: 10%;
  color: #192b08;
}

#header {
  height: 10%;
  color: #192b08;
}

#tagline {
  height: 10%;
  color: #192b08;
}


#pieces {
  display:flex;
  flex-direction: row;
  height: 45%;
  gap: 5px;
}
  #piece1 {
    display:flex;
    flex-direction: row;
    width: 100%;
    height: 70%;
    transition: 1.5s;
    background-color: #F9F0F0;
  }
    #image1 {
      width: 100%;
      height: 100%;
      flex-basis: 100%;
      flex-grow: 70%;
      flex-shrink: 0%;
        }
    #description1 {
      flex-basis: 30%;
      flex-grow: 0%;
      flex-shrink: 70%;
      padding: auto;
      padding: 10% 5% 10% 5%;
      color: #192b08;
    }
  #piece2 {
    display:flex;
    flex-direction: row;
    width: 100%;
    height: 70%;
    transition: 1.5s;
    background-color: #E5BABE;
  }
    #image2 {
      width: 100%;
      height: 100%;
      flex-basis: 100%;
      flex-grow: 70%;
      flex-shrink: 0%;
    }
    #description2 {
      flex-basis: 30%;
      flex-grow: 0%;
      flex-shrink: 70%;
      padding: auto;
      padding: 10% 5% 10% 5%;
      color: #192b08;
    }
  #piece3 {
    display:flex;
    flex-direction: row;
    width: 100%;
    height: 70%;
    transition: 1.5s;
    background-color: #D1858C;
  }
    #image3 {
      width: 100%;
      height: 100%;
      flex-basis: 100%;
      flex-grow: 70%;
      flex-shrink: 0%;
    }
    #description3 {
      flex-basis: 30%;
      flex-grow: 0%;
      flex-shrink: 70%;
      padding: 10% 5% 10% 5%;
      color: #192b08;
    }

#links {
  position:fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 10%;
  width: 100%;
  justify-content: center;
  align-content: center;
  background-color: #AB7A7A;
  color: #192b08;
  padding-right: 5px;
}
#email {
  height: 60%;
}
