body {
  text-align: center;
  background-color:#d5bb9e;
}

#quote {
  height: 10%;
  color: black;
}

#header {
  height: 10%;
  color: black;
}

#tagline {
  height: 10%;
  color: black;
}


#pieces {
  display:flex;
  flex-direction: row;
  height: 45%;
  gap: 5px;
}

  #piece1 {
    display:flex;
    flex-direction: row;
    width: 100%;
    height: 70%;
    transition: 1.5s;
  }
    #image1 {
      width: 100%;
      height: 100%;
      flex-basis: 100%;
      flex-grow: 70%;
      flex-shrink: 0%;
        }
    #description1 {
      flex-basis: 30%;
      flex-grow: 0%;
      flex-shrink: 70%;
      color: #1e3803;
      font-weight: bold;
      font-style: italic;
    }
  #piece2 {
    display:flex;
    flex-direction: row;
    width: 100%;
    height: 70%;
    transition: 1.5s;
    background-color: #E5BABE;
  }
    #image2 {
      width: 100%;
      height: 100%;
      flex-basis: 100%;
      flex-grow: 70%;
      flex-shrink: 0%;
    }
    #description2 {
      flex-basis: 30%;
      flex-grow: 0%;
      flex-shrink: 70%;
      color: #1e3803;
      font-weight: bold;
      font-style: italic;
    }
  #piece3 {
    display:flex;
    flex-direction: row;
    width: 100%;
    height: 70%;
    transition: 1.5s;
    background-color: #D1858C;
  }
    #image3 {
      width: 100%;
      height: 100%;
      flex-basis: 100%;
      flex-grow: 70%;
      flex-shrink: 0%;
    }
    #description3 {
      flex-basis: 30%;
      flex-grow: 0%;
      flex-shrink: 70%;
      color: #1e3803;
      height: 50%;
      font-weight: bold;
      font-style: italic;
    }
  
  #nav_pcs {
    display: flex;
    justify-content: center;
    align-items: center;
  }
    .nav_pcs_button {
      color: #D1858C;
      font-weight: bolder;
      background-color: black;
    }

#links {
  position:fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 10%;
  width: 100%;
  justify-content: center;
  align-content: center;
  background-color: #AB7A7A;
  padding-right: 5px;
  display: flex;
}
#email {
  height: 60%;
}
#tel {
  height: 60%;
}
